@import url("https://fonts.googleapis.com/css2?family=Jersey+15&display=swap");

body {
    font-family: 'Workbench';
}

.Tarjeta{
    background-color: aqua;
    width: 12rem;
    height: 18rem;
    border-radius: 0.5rem;
}

